<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bethena.studyaccessibilityservice">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" /> <!-- 通知栏访问权限 -->
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES" /> <!-- 按了home键再点击悬浮窗startactivity不用等5s的权限,系统层 -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" /> <!-- 静默安装权限 -->
    <uses-permission android:name="android.permission.DELETE_PACKAGES" /> <!-- 静默卸载权限 -->
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" /> <!-- 静默安装权限 -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.CleanProcessService"
            android:label="@string/accessibility_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":accessibility">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <activity
            android:name=".UserTrajectoryActivity"
            android:launchMode="singleInstance" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name=".CleaningProcessActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoBack" />

        <service android:name=".service.CleanProcessMainService" />

        <activity
            android:name=".GuideDialogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

        <receiver
            android:name=".CleaningProcessActivity$AccessibilityBroadcastReceiver"
            android:enabled="true" />

        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Main2Activity"></activity>

        <service
            android:name=".service.MyIntentService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>